/.config/*
!/.config/cava
!/.config/easyeffects
!/.config/fcitx5
!/.config/fontconfig
!/.config/ghostty
!/.config/hypr
!/.config/kitty
!/.config/nanorc
!/.config/neofetch
!/.config/pavucontrol.ini
!/.config/pipewire
!/.config/rofi
!/.config/spandwal
!/.config/starship.toml
!/.config/waybar
!/.config/wezterm
!/.config/wpaperd