@import "./globals.css";

#custom-launcher-browser,
#custom-launcher-filemanager,
#custom-launcher-terminal,
#custom-launcher-editor,
#custom-launcher-passwords,
#custom-colortemp,
#custom-gamma,
#network,
#network.disconnected,
#bluetooth
{}
