@import "./globals.css";

* {
    /*font-family "Jet Brains Mono Nerd Font"*/
    font-family: "Jost*";
    font-size: 13px;
    min-height: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

window#waybar {
    background: rgba(0, 0, 0, 0.9);
    color: #cdd6f4;
    border: 1px solid rgba(143, 212, 255, 0);
    border-radius: 0px;
    box-shadow: 0 0 6px rgba(143, 212, 255, 0.2);
}

/* Default module appearance */
label.module {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.5);
    padding: 0px 8px;
    margin: 0px 4px;
    border-radius: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

/* Light up modules on hover*/
label.module:hover {
    color: rgba(255, 255, 255, 1);
}
