/* fallback colors in hex, does not support alpha in the last bit :( */

@define-color _background #000000;
@define-color _border #000000;
@define-color _text_base #919191;
@define-color _warn #D34DBE;
@define-color _critical #D3ADBE;
@define-color _hover #FFFFFF;
@define-color _active #D34DB3;
@define-color _charging #ABABAB;

/* put theme colors in this file with the referenced names to overwrite defaults */
/* basically just copy block above and if you write colors programatically make sure it follows above spec */
@import "/home/ntsu/.config/ntsu_themes/waybar.css";

@define-color background @_background;
@define-color border @_border;
@define-color text_base @_text_base;
@define-color warning @_warn;
@define-color critical @_critical;
@define-color hover @_hover;
@define-color active @_active;
@define-color charging @_charging;

* {
    font-family: "Jost*";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @text_base;
    border-radius: 0px;
    box-shadow: 0 0 6px rgba(143, 212, 255, 0.2);
}

/* default module appearance – can be overridden later */
label.module {
    background: @background;
    color: @text_base;
    padding: 0px 8px;
    margin: 0px 4px;
    border-radius: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Light up modules on hover*/
label.module:hover {
    color: @hover;
}

/* Change colour on waybar button press */
label.module:active {
  color: @active;
}

/* Non Specific keyframes*/
@keyframes blink {
    to {
        background-color: #8fd4ff;
        color: black;
    }
}
