@import "./globals.css";

/* ======================= */
/* General Style Settings  */
/* ======================= */
* {
    /*font-family "Jet Brains Mono Nerd Font"*/
    font-family: "Jost*";
    font-size: 13px;
    min-height: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

window#waybar {
    background: rgba(0, 0, 0, 0.9);
    color: #cdd6f4;
    border: 1px solid rgba(143, 212, 255, 0);
    border-radius: 0px;
    box-shadow: 0 0 6px rgba(143, 212, 255, 0.2);
}

/* Default module appearance */
label.module {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    padding: 0px 8px;
    margin: 0px 4px;
    border-radius: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

/* ================== */
/* Workspaces Block   */
/* ================== */
#workspaces {
    margin: 0px 8px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    border-radius: 0px;
}

#workspaces button {
    padding: 0px 2px;
    margin: 0px 2px;
    background: transparent;
    color: #888;
    transition: all 0.2s ease;
    font-size: 8px;
}

#workspaces button:hover {
    color: #8fd4ff;
    border-color: #8fd4ff;
    background: rgba(255, 255, 255, 0.03);
}

#workspaces button.active {
    color: #ffffff;
    font-weight: bold;
}

/* ================== */
/* Hardware Block     */
/* ================== */
#hardware {
    background: rgba(
        0,
        0,
        0,
        0
    ); /* Unified background for all hardware labels */
    padding: 0px 6px;
    margin: 4px;
    border-radius: 0px;
}

#hardware label.module {
    background: transparent;
    margin: 0px 2px;
    padding: 0px 2px;
}

/* ================== */
/* Centermods Block   */
/* ================== */

#centermods {
    padding: 0px 0px;
}

/* ======================== */
/* System Status Block      */
/* ======================== */
#cpu,
#memory,
#backlight {
    padding: 0 10px;
    margin: 4px 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.03);
    transition: background 0.3s ease;
}

/* ======================= */
/* Audio, Clock & Battery  */
/* ======================= */
#clock {
    font-weight: bold;
}

#pulseaudio.muted {
    color: #f9e2af;
}

#battery.charging {
    color: #a6e3a1;
    border-bottom: 1px dashed #8fd4ff;
}

#battery.warning:not(.charging) {
    color: #f38ba8;
    background-color: rgba(243, 139, 168, 0.1);
    animation: blink 1.2s infinite alternate;
}

#battery.critical:not(.charging) {
    color: #f38ba8;
    background-color: rgba(243, 139, 168, 0.2);
    font-weight: bold;
    animation: blink 0.8s infinite alternate;
}

/* ===================== */
/* Network & Temperature */
/* ===================== */
#network.disconnected,
#temperature.critical {
    color: #f38ba8;
    font-weight: bold;
}

/* ======================= */
/* Tray & Custom Modules   */
/* ======================= */
#tray,
#custom-gpu-usage,
#custom-pacman-updates,
#custom-pacman-orphans,
#clock,
#network,
#pulseaudio,
#temperature {
    color: inherit;
}
#custom-kernel {
    background-color: #2e3440;
    padding: 0 10px;
    border-radius: 0px;
}
#custom-kernel-update.update {
    color: #ffc40d; /* annoying orange */
    background-color: #2e3440;
}
#custom-kernel-update.reboot {
    color: #ff5555; /* angery */
    background-color: #2e3440;
}

/* =================== */
/* Animations & Utils  */
/* =================== */
@keyframes blink {
    to {
        background-color: #8fd4ff;
        color: black;
    }
}
