@import "./globals.css";

/* ================== */
/* Workspaces Block   */
/* ================== */
#workspaces {
    color: @text_base;
    margin: 0px 8px;
    border-radius: 0px;
}

#workspaces button {
    color: @text_base;
    padding: 0px 2px;
    margin: 0px 2px;
    background: transparent;
    transition: all 0.2s ease;
    font-size: 8px;
}

#workspaces button:hover {
    border-color: #8fd4ff;
}

#workspaces button.active {
    color: #ffffff;
    font-weight: bold;
}

/* ================== */
/* Hardware Block     */
/* ================== */
#hardware {
    background: rgba(
        0,
        0,
        0,
        0
    ); /* Unified background for all hardware labels */
    padding: 0px 6px;
    margin: 4px;
    border-radius: 0px;
}

#hardware label.module {
    background: transparent;
    margin: 0px 2px;
    padding: 0px 2px;
}

/* ======================== */
/* System Status Block      */
/* ======================== */
#cpu,
#memory,
#backlight {
    padding: 0 10px;
    margin: 4px 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.03);
    transition: background 0.3s ease;
}

/* ======================= */
/* Audio, Clock & Battery  */
/* ======================= */
#clock {
    font-weight: bold;
}

#pulseaudio.muted {
    color: #f9e2af;
}

#battery.charging {
    color: @charging;
    border-bottom: 1px dashed #8fd4ff;
}

#battery.warning:not(.charging) {
    color: @warning;
    background-color: rgba(243, 139, 168, 0.1);
    animation: blink 1.2s infinite alternate;
}

#battery.critical:not(.charging) {
    color: @critical;
    background-color: rgba(243, 139, 168, 0.2);
    font-weight: bold;
    animation: blink 0.8s infinite alternate;
}

/* ===================== */
/* Network & Temperature */
/* ===================== */
#temperature.critical {
    color: @critical;
    font-weight: bold;
}

/* ======================= */
/* Tray & Custom Modules   */
/* ======================= */
#tray,
#custom-gpu-usage,
#custom-pacman-updates,
#custom-pacman-orphans,
#clock,
#pulseaudio,
#temperature {
    color: inherit;
}
#custom-kernel {
    background-color: #2e3440;
    padding: 0 10px;
    border-radius: 0px;
}
#custom-kernel-update.update {
    color: @warning;
    background-color: #2e3440;
}
#custom-kernel-update.reboot {
    color: @critical;
    background-color: #2e3440;
}
